[submodule "Common/Src/AMDTBaseTools"]
	path = Common/Src/AMDTBaseTools
	url = ../common-src-AMDTBaseTools.git
[submodule "Common/Src/AMDTOSWrappers"]
	path = Common/Src/AMDTOSWrappers
	url = ../common-src-AMDTOSWrappers.git
[submodule "Common/Src/AMDTOSAPIWrappers"]
	path = Common/Src/AMDTOSAPIWrappers
	url = ../common-src-AMDTOSAPIWrappers.git
[submodule "Common/Src/DynamicLibraryModule"]
	path = Common/Src/DynamicLibraryModule
	url = ../common-src-DynamicLibraryModule.git
[submodule "Common/Src/Vsprops"]
	path = Common/Src/Vsprops
	url = ../common-src-Vsprops.git
[submodule "Common/Src/TSingleton"]
	path = Common/Src/TSingleton
	url = ../common-src-TSingleton.git
[submodule "Common/Src/GPUPerfAPIUtils"]
	path = Common/Src/GPUPerfAPIUtils
	url = ../common-src-GPUPerfAPIUtils.git
[submodule "Common/Src/AMDTMutex"]
	path = Common/Src/AMDTMutex
	url = ../common-src-AMDTMutex.git
[submodule "Common/Src/ADLUtil"]
	path = Common/Src/ADLUtil
	url = ../common-src-ADLUtil.git
[submodule "Common/Src/DeviceInfo"]
	path = Common/Src/DeviceInfo
	url = ../common-src-DeviceInfo.git
[submodule "Common/Src/ACLModuleManager"]
	path = Common/Src/ACLModuleManager
	url = ../common-src-ACLModuleManager.git
[submodule "Common/Src/ShaderUtils"]
	path = Common/Src/ShaderUtils
	url = ../common-src-ShaderUtils.git
[submodule "Common/Src/AMDTActivityLogger"]
	path = Common/Src/AMDTActivityLogger
	url = ../common-src-AMDTActivityLogger.git
[submodule "Common/Src/AMDTAPIClasses"]
	path = Common/Src/AMDTAPIClasses
	url = ../common-src-AMDTAPIClasses.git
